<ion-header>

</ion-header>

<ion-content>
  <div class="container">
    <div class="centeredFrame">
      <ion-grid>
        <ion-row>
          <ion-col class="center_all">
            <ion-icon class="logo" name="wallet"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="center_all" size="12">
            <ion-input (change)="mailChange($event.target.value)" placeHolder="Mail" class="inputs" type="text">

            </ion-input>
          </ion-col>
          <ion-col class="center_all" size="12">
            <ion-input (change)="passwordChange($event.target.value)" placeHolder="Şifre" class="inputs"
              type="password">

            </ion-input>
          </ion-col>
          <ion-col class="center_all" size="12">
            <ion-label>
              Giriş bilgilerimi hatırla
            </ion-label>
            <ion-checkbox [(ngModel)]="rememberMe" class="checkbox" (ionChange)="checkedChange()" color="light"></ion-checkbox>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="center_all" size="12">
            <ion-button (click)="login()" class="approveButtons">
              Giriş Yap
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="center_all" size="12">
            <ion-label>
              <ion-label class="links" routerLink="/forgotpassword">Şifreni mi unuttun?</ion-label>
            </ion-label>
          </ion-col>
          <ion-col class="center_all" size="12">
            <ion-label>
              Hesabın yok mu?&ensp;<ion-label routerLink="/register" class="links">Kayıt Ol</ion-label>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>